.user-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #292b2f;
}

.user {
  padding-left: 10px;
  font-size: 12px;
}

.buttons {
  display: flex;
  width: 60px;
  justify-content: space-around;
  padding-right: 10px;

  .btn {
    font-size: 18px;
    padding: 2px 5px;
    border-radius: 2px;

    &:hover {
      background-color: lighten(#292b2f, 10%);
    }
  }
}
