<% if logged_in? %>
  <script type="text/javascript">

    window.allServers = <%= render(
      "api/users/all_servers.json.jbuilder",
      user: current_user
    ).html_safe %>

    window.userServers = <%= render(
      "api/users/user_servers.json.jbuilder",
      user: current_user
    ).html_safe %>

    window.userChannels = <%= render(
      "api/users/server_channels.json.jbuilder",
      user: current_user
    ).html_safe %>

    window.currentUser = <%= render(
      "api/users/current_user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<main id="root"></main>