.context-menu {
  position: absolute;
  width: 200px;
  padding: 8px;
  background-color: #18191c;
  border-radius: 5px;

  li {
    list-style-type: none;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 5px;

    &:hover {
      background-color: #7289da;
      color: white;
    }
  }

}