.context-menu {
  position: absolute;
  width: 200px;
  padding: 20px;
  background-color: #18191c;

  li {
    list-style-type: none;
    cursor: pointer;
    padding: 5px 10px;

    &:hover {
      background-color: #7289da;
      color: white;
    }
  }
}