.dm-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #36393f;
  color: white;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}

.dm-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.dm-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #36393f;
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 18px;
}