.member-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 220px;
  // height: 100%;
  background-color: #2f3136;
  font-weight: lighter;
  color: #858c81;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
    background: transparent;
  }

  &:hover {
    &::-webkit-scrollbar {
      width: 6px;
    }
    
    &::-webkit-scrollbar-track {
      background: #2e3338;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: #202225;
      border-radius: 15px; 
      border: 3px solid #202225;
    }
  }
}

.member-header {
  font-size: 12px;
  margin: 10px;
}

.member-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;

  .member-username {
    display: flex;
    align-items: center;
    i {
      margin-left: 8px;
      color: goldenrod;
      font-size: 80%;
    }

  }

  .member-modal-btn {
    cursor: pointer;
  }
}