.message-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.message-form {
  width: 100%
}

.message-input {
  background-color: #40444b;
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}