.splash {
  background-image: url('../../../app/assets/images/the_valley.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 100px;
  height: auto;
  margin: 10px
}

.log-button {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 12px;
  width: 60px;
  height: 30px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  background-color: white;
}

.splash-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
}

.header {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  color: white;
}

.splash-text {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
}