.chatroom-container {
  display:flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Noto Sans JP', sans-serif;
  border: 1px solid white;
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - 40px);

  li {
    list-style-type: none;
  }
} 

.message-list {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  flex: wrap;
}

.message {
  margin-left: 20px;
}

.msg-content {
  font-size: 14px;
  color: white;
  margin-left: 20px;
}

.msg-username {
  color: #e6792d;
  font-size: 15px;
  font-weight: lighter;
}