.channel-container {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #36393f;
  color: white;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}

.channel-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}